{%extends 'base.html'%}
{% load static %}

{%block content%}
<style>
    img{
        height: 500px;
        width: 500px;
        margin-left: 25px;
        margin-top: 10px;
    }
</style>

<h1>{{product.title}}</h1>






<main>

    <section class="appearance">
        <div class="introduction">
            <div class="intro-text">
                <img src="{{product.image.url}}" alt="#">
                

            </div>
            
        </div>
        <div class="lotty">
            <div class="col-sm-8">

            
              
                <div class="col-sm-8 pull-left">
                    <h3>{{product.title}} </h3>
                    <h4>Ksh {{product.price}} </h4>
                    <p>{{product.description}} </p>
                </div>
                
                <div class="col-sm-8 pull-left">
                    <div class="cta">
                        <form class="form pull-right" method="POST" action="{% url 'cart add' product.slug %}"> {%csrf_token%}
                            <input class="form-control" name="qty" type="number" value="1"/>
                            
                            {%if product.variation_set.all %}

                            {%if product.variation_set.sizes %}
                            <select  class="form-control" name="size" >
                            {%for item in  product.variation_set.sizes %}
                                <option value="{{item.title|lower }}">{{item.title|capfirst}}</option>
                            {% endfor %}

                            </select>
                            {%endif%}
                            
                            {%if product.variation_set.colors %}
                            <select  class="form-control" name="color" >
                            {%for item in  product.variation_set.colors %}
                                <option value="{{item.title|lower }}">{{item.title|capfirst}}</option>
                            {% endfor %}

                            </select>
                            {%endif%}

                            
 
                            {%endif%}
                            <input class="btn btn-default btn-block" type="submit" value="Add to cart">

                        </form>
                       
                    </div>
                </div>

            </div>
        </div>


    </section>
</main>
<style type="text/css">
.appearance{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;



}
form{
    padding-bottom: 20px;
}
.introduction{
    flex: 1;
}
.intro-text h1{
    font-weight: 500;
    font-size: 50px;

}
.intro-text p{
    margin-top: 10px;
    font-size: 20px;
}
.cta{

    padding: 35px 0px 0px 0px;
}
.cta-shop{

    border: 3px solid #9663e7;
    background: transparent;
    color: #23705d;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.cta-log{

    border: 3px solid #9663e7;
    background: transparent;
    color: #157e63;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.lotty{
    flex: 1;

}

.lotty script{
    /* height: 20vh; */
    height: 600px;
    width: 600px;
}
</style>

{%endblock %}