{%extends 'base.html'%}
{% load static %}

{%block content%}
<style>
    #anim {
        max-width: 800px;
        margin: 0 auto;
    }
</style> 
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
<main>
    
    <section class="appearance">
        <div class="introduction">
            <div class="intro-text">
                <h1>Welcome to Nguo Town </h1>
                <p>Fulfill all your Fashion desires here </p>
    
            </div>
            <div class="cta">
                <button class="cta-shop">Shop</button>
                <button class="cta-log">Login</button>

            </div>
        </div>
        <div class="lotty">
            <!-- <img src="{% static 'clothes.jpg' %}" alt="#"> -->
            <div id="anim"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.14/lottie.min.js"></script>
            <script src="{% static 'script.js' %}"></script>
            <!-- <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_mgdl0fkk.json" background="transparent"  speed="1"  style="width: 700px; height: 700px;" loop controls autoplay></lottie-player> -->


        </div>
        
        
    </section>
</main>
<style type="text/css"> 
.appearance{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;



}
.introduction{
    flex: 1;
}
.intro-text h1{
    font-weight: 500;
    font-size: 50px;
  
}
.intro-text p{
    margin-top: 10px;
    font-size: 20px;
}
.cta{

    padding: 35px 0px 0px 0px;
}
.cta-shop{
    
    border: 3px solid #9663e7;
    background: transparent;
    color: #23705d;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.cta-log{
    
    border: 3px solid #9663e7;
    background: transparent;
    color: #157e63;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.lotty{
    flex: 1;

}

.lotty script{
    /* height: 20vh; */
    height: 600px;
    width: 600px;
}
</style>

{%endblock %}